.block{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
    min-height: 100vh;
}

.emulate{
    background: red;
    width: 500px;
    height: 700px;
}

.white{
    background: white;
}

.black{
    background: black;
}

.profile-img{
    width: 500px;
    height: 500px;
}

.button{
    background: black;
    color: white;
    border-radius: 40px;
    width: min-content;
    padding: 10px 40px;
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 360px;
}

.profile-text{
    text-align: center;
}

body{
    margin:0;
}

.buttom{
    display: flex;
    justify-content: space-between;
}

.but-img{
    background: white;
}

.soc-img{
    width: 40px;
    height: 40px;
    padding: 10px -50px;
}